body, html {
  font-family: 'Lato', sans-serif;
}

div.content {
  padding: 20px;
}

header {
  width: 100%;
  background-color: #ff8600;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  color: white;
}

.chat-container {
  position: fixed;
  bottom: 0px;
  right: 0;
  z-index: 1;
}

.chat-container.active {
  height: 420px;
  width: 310px;
}

.chat-container iframe {
  position: fixed;
  bottom: 40px;
  right: 0;
  border: none;
    animation-duration: 0.5s;
  animation-name: slidein;
  opacity: 0;
  height: 0;
  width: 0;
}

.openChat {
  position: absolute;
  top: -130px;
  right: 30px;
  width: 70px;
  height: auto;
}

.closeChat {
  position: absolute;
  top: -110px;
  right: 10px;
  animation-duration: 0.5s;
  animation-name: showButton;
}

.chat-container iframe.active {
  height: 420px;
  width: 310px;
  opacity: 1;
  animation-duration: 0.5s;
//  animation-name: slideOff;
}

::ng-deep app-step1 + .chat-container {
  display: none;
}


@keyframes showButton {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes slidein {
  from {
    height: 0;
    width: 0;
    opacity: 0;
  }

  to {
    height: 420px;
    opacity: 1;
    width: 310px;
  }
}


@keyframes slideOff {
  from {
    height: 420px;
    opacity: 1;
    width: 310px;
  }
  to {
    height: 0;
    width: 0;
    opacity: 0;
  }
}

footer {
  background-color: #0AA7C8;
  color: white;
  width: 100%;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 0;
}
